html, body { padding: 0; margin: 0; height: 100%; width: 100%; }

:root {
  position: absolute;
  width: 100%;
  height: 100%;
  
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/** pages css **/

.container{
  background-color: #3b3b3b;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Titles-font
{
  color: #ffffff;
  font-weight: 600;
  font-size: xx-large;
  opacity: 100%;
}

.Paragraph
{
  height: 40%;
  width: 80%;
  margin-bottom: 40px;
  background-image: url('.././public/introduction.jpg');
  background-size: cover;
  opacity: 50%;

  background-position: center; /* Center the image */
  background-blend-mode:color
}

.row-item-container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 90%;
  background-color: #3318326b;
  padding: 50px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}

.Card-Body
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-style: solid;
  border-color: #d81e5b;
  border-width: 5px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  border-bottom-left-radius: 36px;
  
  
}

.Card-Body:hover
{
  display: flex;
  flex-direction: column;
  transform: scale(1.05);
  overflow: hidden;
  border-width: 5px;
  border-style: solid;
  
  
}

.button-head
{
    text-align: center;
    align-items: center;
    background-color: #F0544F;
    width:100%;
    height: 50px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
} 

.button
{
  height: 600px;
  max-height: 600px;
  width: 450px;
  background-color: red;
  cursor: pointer;
  border-style: none;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  
}

.button-bottom
{
  background-color: #F0544F;
  width:100%;
  height: 40px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}



.header
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: #d81e5b;
  border-bottom-right-radius: 160px;
  border-bottom-left-radius: 160px;
  margin-bottom: 40px;
}

.header img
{
  margin-top: 10px;
  height: 50px;
  width: 50px;
}
.footer
{
  background-color: blue;
}

/** page metronme **/

.metronome-body{ 
  width: 40%; 
  height: 80%; 
  background-color: #535353;
  border-style: solid;
  border-width: 3px;
  border-color: #F0544F;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.button_component
{
  height: 50px;
  width: 200px;
  background-color: #f07d4f;
  border-radius: 20px;
  margin-bottom: 40px;
  border-color: #7e1e1b;
  border-style: solid;
  border-width: 3px;
  color: white;
  font-size: larger;
  font-weight: 600;
}
.button_component:hover
{
  
  
  background-color: #d6785c;
  cursor: pointer;
  
}

#Metronome-animation
{
  border-style: solid;
  border-color: #d81e5b;
  width: 400; 
  height: 400;
  border-radius: 500px;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute
}


@keyframes example {
  0%{
    transform: scale(0.5);
  }
    
  
  100%{
    transform: scale(1.0);
    border-width: 15px;   
}
}